.container{
    max-width: 1500px;
    margin: auto;
}
#header__wrapper{
    min-height: 100vh;
    background: url(../img/intro-bg.png) center/cover;
}
ul{
    display: flex;
    flex-direction: row;
}
li a {
    color: #fff;
}