.container{
    max-width: 1500px;
    margin: auto;
}
#header__wrapper{
    min-height: 100vh;
    background: url(../img/intro-bg.png) center/cover;
}
ul{
    display: flex;
    flex-direction: row;
}
.top__header li{
    margin: 0 45px 0 0;
    font-size: .9em;
    line-height: 20px;
}
li a {
    color: #fff;
}