.container{
    max-width: 1500px;
    margin: auto;
}

#header__wrapper{
    min-height: 100vh;
    background: url(../img/intro-bg.png) center/cover;
}
ul, .info__left{
    display: flex;
    flex-direction: row;
}
.top__header{
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.20);
    margin: 0 0 22px 0;
}
.top__header li{
    margin: 0 45px 0 0;
    font-size: .9em;
    line-height: 20px;
}
li a ,.info__header{
    color: #fff;
}

.info__left{
    color: #fff;
    font-size: .9em;
}
.info__icon svg{
    margin: 0 11px 0 0;
}