.container {
    max-width: 1100px;
    margin: auto;
}

body {
    background: url(./../img/background.png) center/cover;
    min-height: 100vh;
}

#circles ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin: -10px 0 0 0;

}

#circles li {
    padding: 15px;
    border-radius: 50%;
    background-color: #dbfb23;
}

header {
    padding: 70px 10px 0 10px;
    border-bottom: 1px solid #dbfb23;
}
header > div{
    flex-basis: 5%;
}

header,
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-basis: 80%;
}

nav ul {
    align-items: stretch;
}

nav li {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid transparent;
}
nav li:nth-child(3){
    margin: 0 0 15px 0;
    border: 0;
}
nav a {
    color: #fff;
}

nav li:hover {
    color: #dbfb23;
    transition: all .3s ease-in-out;
    border-color: #fff;
}
.active{
    color: #dbfb23;
    transition: all .3s ease-in-out;
    border-color: #fff;
}

#burger__menu{
    text-align: center;
}

h1{
    font-size: 3.8rem;
    font-weight: 900;
    color: #dbfb23;
    text-align: center;
    margin: 0  0 20px 0;
}
h2{
    color: #dbfb23;
    font-size: 1.7rem;
    font-weight: 600;
}
#intro{
    display: flex;
    flex-direction: row;
    padding: 40px 15px;
    gap: 20px;
}
#intro p{
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0 0 50px 0;
}

#intro button{
    border: 0;
    outline: 0;
    padding: 10px 15px;
    background-color: #dbfb23;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.img{
    text-align: center;
    margin: 0 0 40px 0;
}
.main__section img{
    width: 100%;
}
.main__section{
    flex-basis: 50%;
}
.side__section{
    flex-basis: 25%;
}
.side__section h2{
    margin: 20px 0;
}
.side__section:last-of-type{
    text-align: right;
}


@media only screen and (max-width: 950px) {
    h1{
        font-size: 2.8rem;
    }
}
@media only screen and (max-width: 768px) {
    #intro p{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 520px) {
    #intro , .side__section:last-of-type{
        flex-direction: column;
        text-align: center;
    }
   
}
@media only screen and (max-width: 480px) {
    nav ul{
        flex-direction: column;
      align-items: center;
    }
    nav li{
      
        padding: 10px 0;
    }
    nav li:nth-child(3){
        padding: 0;
        margin: 0;
    }
   
}